#untrack .vs folder and bin, obj folders
.vs/
HardwareShop.Api/bin/
HardwareShop.Api/obj/
HardwareShop.Models/bin/
HardwareShop.Models/obj/
HardwareShop.Web/bin/
HardwareShop.Web/obj/

#untrack migrations folder, needs to be generated on the host computer
HardwareShop.Api/Migrations/
